USE [master]
GO
/****** Object:  Database [Nhom11_DatBaoTrucTuyen_SpringMVC]    Script Date: 02/05/2018 08:31:19 ******/
CREATE DATABASE [Nhom11_DatBaoTrucTuyen_SpringMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nhom11_DatBaoTrucTuyen_SpringMVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Nhom11_DatBaoTrucTuyen_SpringMVC.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Nhom11_DatBaoTrucTuyen_SpringMVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Nhom11_DatBaoTrucTuyen_SpringMVC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nhom11_DatBaoTrucTuyen_SpringMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nhom11_DatBaoTrucTuyen_SpringMVC]
GO
/****** Object:  Table [dbo].[Bao]    Script Date: 02/05/2018 08:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bao](
	[maBao] [nvarchar](50) NOT NULL,
	[tenBao] [nvarchar](50) NULL,
	[chuKyXuatBan] [int] NULL,
	[donGia] [int] NULL,
	[maNhaXuatBan] [nvarchar](50) NULL,
	[imgBao] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bao] PRIMARY KEY CLUSTERED 
(
	[maBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Bao] ([maBao], [tenBao], [chuKyXuatBan], [donGia], [maNhaXuatBan], [imgBao]) VALUES (N'bao001', N'Tuổi trẻ', 10, 20000, NULL, N'images/tuoitre.png')
INSERT [dbo].[Bao] ([maBao], [tenBao], [chuKyXuatBan], [donGia], [maNhaXuatBan], [imgBao]) VALUES (N'bao002', N'Thanh niên', 5, 10000, NULL, N'images/tuoitre.png')
INSERT [dbo].[Bao] ([maBao], [tenBao], [chuKyXuatBan], [donGia], [maNhaXuatBan], [imgBao]) VALUES (N'bao003', N'Công An', 6, 20000, NULL, N'images/tuoitre.png')
USE [master]
GO
